<div class="s-testimonials">

    <div class="overlay"></div>

    <div class="row testimonials-header">
        <div class="col-full">
            <h1 class="h02">İnsanlar Benim İçin Ne Dediler?</h1>
        </div>
    </div>

    <div class="row testimonials">

        <div class="col-full testimonials__slider">

            <div class="testimonials__slide">
                <img src="~/hola-master/images/avatars/user-01.jpg" alt="Author image" class="testimonials__avatar">
                <p>
                .
                </p>
                <div class="testimonials__author h06">
                    Murat Yücedağ
                    <span>Eğitmen</span>
                </div>
            </div>

            <div class="testimonials__slide">
                <img src="~/hola-masterimages/avatars/user-05.jpg" alt="Author image" class="testimonials__avatar">
                <p>
                 .
                </p>
                <div class="testimonials__author h06">
                    Melis Dinçer
                    <span>Öğrenci</span>
                </div>
            </div>

            <div class="testimonials__slide">
                <img src="~/hola-masterimages/avatars/user-02.jpg" alt="Author image" class="testimonials__avatar">
                <p>
                  .
                </p>
                <div class="testimonials__author h06">
                    Büşra Ünal
                    <span>Öğrenci</span>
                </div>
            </div>

        </div> <!-- end testimonials__slider -->

    </div> <!-- end testimonials -->

</div>